[Desktop Entry]
Name=jEdit
Exec=java -jar /usr/local/jedit/jedit.jar
Type=Application
X-FullPathIcon=/usr/local/share/pixmaps/jedit.png
Icon=jedit
OnlyShowIn=Old;
Categories=System;
